<h1>Welcome to ASP.NET Web API!</h1>
Navigate to <a href="/SwaggerUI/index.html">/swaggerui/index</a> for the Swagger UI nuget package.  <br />
Navigate to <a href="/api/swagger">/api/swagger</a> to see the JSON specification emitted.<br />
You may then navigate to each api path to see the JSON documentation for each ApiController individually.